<div class="py-3 ml-5">
  <h2>Add a new product</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <label for="name">Product Name</label>
        <input formControlName="name" type="text" name="name" id="name" class="block border" required="">
        <div *ngIf="!form.get('name')?.valid && form.get('name')?.dirty || form.get('name')?.touched">
          <span *ngIf=" form.get('name')?.hasError('required')">Nhập tên</span>
          <span *ngIf=" form.get('name')?.hasError('minlength')">Tên tối thiểu 3 ký tự</span>
        </div>
      </div>
      <div>
        <label for="image" class="block mb-2">Image</label>
        <input formControlName="image" type="text" name="image" id="image" class="block border" placeholder="Type product name" required="">
        <div *ngIf="!form.get('image')?.valid && form.get('image')?.dirty || form.get('image')?.touched">
          <span *ngIf=" form.get('image')?.hasError('required')">Nhập ảnh</span>
        </div>
      </div>
      <div class="w-full">
        <label for="quality" class="block mb-2">Quality</label>
        <input formControlName="quality" type="number" name="quality" id="quality" class="block border" placeholder="Product brand" required="">
        <div *ngIf=" !form.get('quality')?.valid && form.get('quality')?.dirty || form.get('quality')?.touched ">
          <span *ngIf=" form.get('quality')?.hasError('required')">Nhập chất lượng</span>
        </div>
      </div>
      <div class="w-full">
        <label for="price" class="block mb-2">Price</label>
        <input formControlName="price" type="number" name="price" id="price" class="block border" placeholder="$2999" required="">
        <div *ngIf=" !form.get('price')?.valid && form.get('price')?.dirty || form.get('price')?.touched">
          <span *ngIf=" form.get('price')?.hasError('required')">Nhập giá</span>
        </div>
      </div>

      <div>
        <label for="description" class="block mb-2">Description</label>
        <textarea formControlName="description" id="description" rows="8" class="block border" placeholder="Your description here"></textarea>

      </div>
    </div>
    <button type="submit" class="bg-blue-500 mt-5"> Add product</button>
  </form>
</div>