<div class="p-6">
  <div class="container mx-auto">
    <h1 class="text-3xl font-bold mb-6">Product List</h1>
    <button class="bg-green-500"><a routerLink="/add">Add Product</a></button>
    <button class=" bg-blue-500 ml-5"><a routerLink="/signin">Sign In</a></button>

    <div>
      <table>
        <thead class="bg-gray-200">
          <tr>
            <th class="py-3 px-6 text-left">#</th>
            <th class="py-3 px-6 text-left">Product Name</th>
            <th class="py-3 px-6 text-left">Price</th>
            <th class="py-3 px-6 text-left">Image</th>
            <th class="py-3 px-6 text-left">Quality</th>
            <th class="py-3 px-6 text-left">Description</th>
            <th class="py-3 px-6 text-left">Actions</th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          <tr *ngFor="let product of products; index as i" class="border-b">

            <td class="py-3 px-6">{{i+1}}</td>
            <td class="py-3 px-6">{{product.name}}</td>
            <td class="py-3 px-6">{{product.price}}</td>
            <td class="py-3 px-6">{{product.image}}</td>
            <td class="py-3 px-6">{{product.quality}}</td>
            <td class="py-3 px-6">{{product.description}}</td>
            <td class="py-3 px-6">
              <button class="bg-blue-500 mr-3">
               <a [routerLink]="['edit/', product.id]">Edit</a> 
              </button>
              <button (click)="removeProduct(product.id!)" class="bg-red-500">Delete</button>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>